header {
  background-color: #ccccbb;
}

.container-logo {
  text-align: center;
  padding-top: .5rem;
}

.logo {
  font-family: 'Italianno';
  font-size: 3rem;
  font-weight: bold;
  color: #b90504;
}

.logo span{
  color: #00755c;
}

.nav {  
  padding-bottom: 1rem;
}

.nav-links {
  padding: .5rem 0;
}

.nav-links ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.nav-links ul li {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #00755c;
  border-radius: 6px;
  padding: .5rem 1rem;
}

.nav-links ul li:hover {
  background-color: #148b71;
}